{% extends 'base.html'%}
{% block title %}{{show.title}}{% endblock %}

{% block body %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success">
              <strong>Success!</strong> {{message}}
            </div>
        {% endfor %}
    </ul>
{% endif %}
<div class="location" id="home">
<div class="container-fluid col-sm-offset-1">

    <div class="row">
        <!-- Left Movie Info -->
        <div class="col-sm-2 col-md-3">
<!--            <div class="panel panel-default">-->
<!--                <div class="panel-body" style="border-radius: 22px 22px 22px 22px;">-->
                    <br><br><br><br><br><a href="#">
                        <img src="{{ movies.poster_url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                    </a>
                    <h2></h2>
<!--                </div>-->
<!--            </div>-->
        </div>
        <!-- Right Movie Info -->
        <div class="col-sm-offset-1 col-sm-4 col-md-4">
            <h1 style="color:#fff">{{movies.title}}</h1>
            <h3><small>Genre: {{genre}}</small></h3>
            <h3><small>Overall Rating: {{movies.overall_rating}}</small></h3>
            <h3><small>IMDB Rating: {{movies.imdb_rating}}</small>
            <h3><small>Rotten Tomato Rating: {{movies.rotten_tomato}}</small></h3></h3>
            <h3><small>OTT: {{ott}}</small></h3>
            <h3><small>Cast: {{actors}}</small></h3>
            <h3><small>Director: {{director}}</small></h3>
            <h3><small>Origin Language: {{language}}</small></h3>
            <h3><small>Origin Country: {{country}}</small></h3>
            <h3><small>Overview: {{overview}}</small></h3>

            {% if request.user.is_authenticated %}
            <!-- <div class="col-sm-offset-0 col-sm-8"> -->
                <form class="form-horizontal" role="search" method="post" action="{% url 'detail' movies.id %}"  name="ratingForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="id_username">
                          Rate:
                        </label>
                        <div class="col-sm-10" style="color:black">
                          {% if rate_flag %}

                            <input input type="number" min="0" max="10" name="rating" value="{{movie_rating}}">
                            {% else %}
                            <input input type="number" min="0" max="10" name="rating" value="0">

                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="id_username">
                        Review:
                      </label>
                      <div class="col-sm-10" style="color:black">
                        <textarea name="review" rows="4" cols="50" value="{{movie_review}}"></textarea>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <input type="submit" class="button" value="Submit">
                    </div>
                </div>
            </div> </div>

                </form>
                <form class="form-horizontal" role="search" method="post" action="{% url 'detail' movies.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="row ">
                                <div class="col-lg-14">
                                    <div class="star-rating">
                                        {% if in_watchlist %}
                                        <input type="submit" class="button" value="Remove from Watchlist" name="watch">
                                        {% else %}
                                        <input type="submit" class="button" value="Add to Watchlist" name="watch">

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
<!--                            <input type="submit" class="button" value="Add">-->
                        </div>
                    </div>
                </form>

                {% endif %}

                <h3>Top Reviews</h3>

                <ul>
                  <li> sexy
                    <form class="form-horizontal" role="search" method="post" action="{% url 'detail' movies.id %}">
                      {% csrf_token %}
                      <div class="form-group">
                          <div class="input-group">
                              <div class="row ">
                                  <input type=hidden name="{{x}}" value="value1">
                                  <div class="col-lg-14">
                                      <div class="star-rating">
                                          {% if upvoted %}
                                          <input type="submit" class="button" value="Upvote" name="disupvote" style="background-color: #f44336;">
                                          {% else %}
                                          <input type="submit" class="button" value="Upvote" name="upvote" style="background-color: #e7e7e7; color: black;">

                                          {% endif %}
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                            <div class="row ">
                                <div class="col-lg-14">
                                    <div class="star-rating">
                                        {% if downvoted %}
                                        <input type="submit" class="button" value="Downvote" name="disdownvote" style="background-color: #f44336; ">
                                        {% else %}
                                        <input type="submit" class="button" value="Downvote" name="downvote" style="background-color: #e7e7e7; color: black;">

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </form></li>
                  {% for review in all_reviews %}
                       <li>
                        {%for x in review %}
                        {% if x.review %}
                          {{x.review}}
                          {%else%}
                          <b style="size">{{x}}</b><br />
                          {%endif%}
                        {%endfor%}
                      </li>
                  {% endfor %}
                  </ul>
              </div>
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->

</div>

{% endblock %}
