{% extends 'base.html'%}
{% block title %}{{show.title}}{% endblock %}

{% block body %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success">
              <strong>Success!</strong> {{message}}
            </div>
        {% endfor %}
    </ul>
{% endif %}
<div class="location" id="home">
<div class="container-fluid col-sm-offset-1">

    <div class="row">
        <!-- Left Movie Info -->
        <div class="col-sm-2 col-md-3">
<!--            <div class="panel panel-default">-->
<!--                <div class="panel-body" style="border-radius: 22px 22px 22px 22px;">-->
                    <br><br><br><br><br><a href="#">
                        <img src="{{ movies.poster_url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                    </a>
                    <h2></h2>
<!--                </div>-->
<!--            </div>-->
        </div>
        <!-- Right Movie Info -->
        <div class="col-sm-offset-1 col-sm-4 col-md-4">
            <h1 style="color:#fff">{{movies.title}}</h1>
            <h3><small>Genre: {{genre}}</small></h3>
            <h3><small>Overall Rating: {{movie_rating}}</small></h3>
            <h3><small>IMDB Rating: {{imdb}}</small>
            <h3><small>Rotten Tomato Rating: {{tomato}}</small></h3></h3>
            <h3><small>OTT: {{ott}}</small></h3>
            <h3><small>Cast: {{actor}}</small></h3>
            <h3><small>Director: {{director}}</small></h3>
            <h3><small>Origin Language: {{lang}}</small></h3>
            <h3><small>Origin Country: {{country}}</small></h3>  
            <h3><small>Overview: {{overview}}</small></h3> 
            {% if request.user.is_authenticated %}
            <!-- <div class="col-sm-offset-0 col-sm-8"> -->
                <form class="form-horizontal" role="search" method="post" action="{% url 'detail' movies.id %}"  name="ratingForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="id_username">
                          Rate: 
                        </label>
                        <div class="col-sm-10" style="color:black">
                          {% if rate_flag %}

                            <input input type="number" min="0" max="10" name="rating" value="{{movie_rating}}">
                            {% else %}
                            <input input type="number" min="0" max="10" name="rating" value="0">

                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="id_username">
                        Review: 
                      </label>
                      <div class="col-sm-10" style="color:black">
                        <textarea name="review" rows="4" cols="50" value=""></textarea>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <input type="submit" class="button" value="Submit">
                    </div>
                </div>
            </div> </div>
                              
                </form>
                <form class="form-horizontal" role="search" method="post" action="{% url 'detail' movies.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="row ">
                                <div class="col-lg-14">
                                    <div class="star-rating">
                                        <span>Add to my list  </span>
                                        {% if update %}
                                        <input type="checkbox" name="watch" checked>
                                        <input type="submit" class="button" value="Remove" name="watch">
                                        {% else %}
                                        <input type="checkbox" name="watch">
                                        <input type="submit" class="button" value="Add">

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
<!--                            <input type="submit" class="button" value="Add">-->
                        </div>
                    </div>
                </form>

                {% endif %}
                <h3>Top Reviews</h3>
                <ul>
                  <li> sexy<br><a href="#" style="color:white">Upvote</a> <a href="" style="color:white">Downvote</a></li>
                  {% for review in reviews %}
                       <li>({{all_review.username}}) {{all_reviews.review}} <br>
                      <form class="form-horizontal" role="search" method="post" actions="{% url 'detail' movies.id %}">
                        <div class="form-group"></div>
                      </form></li> 
                  {% endfor %}
                  </ul>
              </div>
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->

</div>

{% endblock %}
