{% extends 'base.html'%}
{% block body %}

{% if not request.user.is_authenticated %}
    <br>
{% else %}
    <center style="color:#fff"><h2>Welcome {{user.username}}!!</h2></center>
{% endif %}

<div class="container" >
  <div class="col-xs-6 col-xs-offset-3">
      <form class="form-horizontal" role="search" method="get" action=''>
          <div class="form-group">
              <div class="input-group">
                  <input type="text" class="form-control input-lg " name="q" value="{{ request.GET.q }}" placeholder= "Enter seach query "/>
                  <span class='input-group-btn'>
                      <button class='button1' type='submit'><i class="fas fa-search sub-nav-logo"></i></button>
                  </span>
              </div>
          </div>
      </form>
  </div>
</div>
<div class="location" id="home">
<div class="container" >
<!-- Trending list -->
<h1> Trending Now</h1>
<div class="row" >
  {% if trending_shows %}
  {% for show in trending_shows %}
      <div class="col-sm-2 col-md-2">
          <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
              <center><h5>{{show.title}}</h5></center>
              <a href="{% url 'detail' show.id %}">
                  <img src="{{ show.show_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
              </a>
          </div>
      </div>
      {% endfor %}
      {% endif %}
</div>

{% if request.user.is_authenticated %}

<!-- Recommended tvshows list -->
<h1> Recommended TV Shows</h1>
<div class="row" >
  {% if rec_tvshows %}
  {% for show in rec_tvshows %}
      <div class="col-sm-2 col-md-2">
          <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
              <center><h5>{{show.title}}</h5></center>
              <a href="{% url 'detail' show.id %}">
                  <img src="{{ show.show_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
              </a>
          </div>
      </div>
      {% endfor %}
      {% endif %}
</div>

<!-- Recommended movies list -->
<h1> Recommended Movies</h1>
<div class="row" >
  {% if rec_movies %}
  {% for show in rec_movies %}
      <div class="col-sm-2 col-md-2">
          <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
              <center><h5>{{show.title}}</h5></center>
              <a href="{% url 'detail' show.id %}">
                  <img src="{{ show.show_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
              </a>
          </div>
      </div>
      {% endfor %}
      {% endif %}
</div>


{% endif %}


<!-- Top tvshows list -->
<h1> Top TV Shows</h1>
<div class="row" >
  {% if top_tvshows %}
  {% for show in top_tvshows %}
      <div class="col-sm-2 col-md-2">
          <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
              <center><h5>{{show.title}}</h5></center>
              <a href="{% url 'detail' show.id %}">
                  <img src="{{ show.show_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
              </a>
          </div>
      </div>
      {% endfor %}
      {% endif %}
</div>

<!-- Top movies list -->
<h1> Top Movies</h1>
    <div class="row" >
            {% if top_movies %}
            {% for show in top_movies %}
                <div class="col-sm-2 col-md-2">
                    <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                        <center><h5>{{show.title}}</h5></center>
                        <a href="{% url 'detail' show.id %}">
                            <img src="{{ show.show_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
        </div>

</div>

</div>
{% endblock %}
