{% extends 'base.html'%}
{% block body %}

<div class="container" >
  <div class="col-xs-6 col-xs-offset-3">
      <form class="form-horizontal" role="search" method="get" action=''>
          <div class="form-group">
              <div class="input-group">
                  <input type="text" class="form-control input-lg " name="q" value="{{ request.GET.q }}" placeholder= "Enter seach query "/>
                  <span class='input-group-btn'>
                      <button class='button1' type='submit'><i class="fas fa-search sub-nav-logo"></i></button>
                  </span>
              </div>
          </div>
      </form>
  </div>
</div>
<div class="location" id="home">
<!-- show list -->
  <h1>mtv</h1>
    <div class="row" >
            {% if shows %}
            {% for show in shows %}
                <div class="col-sm-2 col-md-2">
                    <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                        <center><h5>{{show.title}}</h5></center>
                        <a href="{% url 'detail' show.id %}">
                            <img src="{{ show.show_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
        </div>


  <h1>Trending now</h1>
  <div class="row" >
          {% if trending_shows %}
          {% for show in trending_shows %}
              <div class="col-sm-2 col-md-2">
                  <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                      <center><h5>{{show.title}}</h5></center>
                      <a href="{% url 'detail' show.id %}">
                          <img src="{{ show.show_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                      </a>
                  </div>
              </div>
              {% endfor %}
              {% endif %}
      </div>


  <h1>Thriller</h1>
  <div class="row" >
          {% if thriller %}
          {% for show in thriller %}
              <div class="col-sm-2 col-md-2">
                  <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                      <center><h5>{{show.title}}</h5></center>
                      <a href="{% url 'detail' show.id %}">
                          <img src="{{ show.show_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                      </a>
                  </div>
              </div>
              {% endfor %}
              {% endif %}
      </div>


  <h1>Comedy</h1>
  <div class="row" >
          {% if comedy %}
          {% for show in comedy %}
              <div class="col-sm-2 col-md-2">
                  <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                      <center><h5>{{show.title}}</h5></center>
                      <a href="{% url 'detail' show.id %}">
                          <img src="{{ show.show_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                      </a>
                  </div>
              </div>
              {% endfor %}
              {% endif %}
      </div>


  <h1>Romance</h1>
  <div class="row" >
          {% if romance %}
          {% for show in romance %}
              <div class="col-sm-2 col-md-2">
                  <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                      <center><h5>{{show.title}}</h5></center>
                      <a href="{% url 'detail' show.id %}">
                          <img src="{{ show.show_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                      </a>
                  </div>
              </div>
              {% endfor %}
              {% endif %}
      </div>


  <h1>Action</h1>
  <div class="row" >
          {% if action %}
          {% for show in action %}
              <div class="col-sm-2 col-md-2">
                  <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                      <center><h5>{{show.title}}</h5></center>
                      <a href="{% url 'detail' show.id %}">
                          <img src="{{ show.show_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                      </a>
                  </div>
              </div>
              {% endfor %}
              {% endif %}
      </div>


  <h1>Sci-Fi</h1>
  <div class="row" >
          {% if scifi %}
          {% for show in scifi %}
              <div class="col-sm-2 col-md-2">
                  <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                      <center><h5>{{show.title}}</h5></center>
                      <a href="{% url 'detail' show.id %}">
                          <img src="{{ show.show_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                      </a>
                  </div>
              </div>
              {% endfor %}
              {% endif %}
      </div>



</div>
</div>

{% endblock %}
