{% extends 'base.html'%}
{% block body %}
    <!-- MAIN CONTAINER -->
    <section class="main-container" >
      <div class="location" id="home">
      	 <h1 id="profile">Profile</h1>
        <h4> Username: <span style="color:black">{{username}}</span></h4><br>
        <h4> Email: <span style="color:black">{{email}}</span></h4><br>
        <!-- <a> Language Preference: <span style="color:black">{{lang}}</span></a> <br>
        <a> Nationality: <span style="color:black">{{nat}}</span></a> <br> -->
      <br>

    <a href="{% url 'change_password' %}" style="color:white"> Change Password </a>
    </section>
    <!-- END OF MAIN CONTAINER -->

    {% endblock %}
